.mainDoggo {
  margin-top: 40px;

  .dog-section {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .dog-photo-btn {
      background-color: darkred;
      border: none;
      outline: none;
      color: white;
      font-size: 18px;
      padding: 12px 24px;
      margin: 12px auto;
    }

    .dog-img {
      width: 80%;
      margin: 12px auto;
      max-height: 80vh;
      object-fit: contain;
    }
  }
}